# requirements for the project
awscli
boto3
datasets
evaluate
ipykernel
jupyterlab
python-dotenv
langchain
matplotlibclear
numpy
nltk
pandas
scikit-learn
transformers
torch
torchvision
torchaudio
wordcloud
